<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet " href="/webapp/static/styling.css" />
  </head>
  <body>
    
    <h1>
      <span class="white-A">A</span>
      I-BUDDY
    </h1>
    <div class="container">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label"
          >Student Login</label
        >
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Example input placeholder"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"
          >Teacher Login</label
        >
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Another input placeholder"
        />
      </div>
    </div>
  </body>
</html>
