<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet " href="/webapp/static/styling.css" />
    <style>
      #navbar ul li:nth-child(4) a {
        color: #888; /* Grayed-out text color */
        pointer-events: none; /* Disable click events */
      }
      /* Apply the grayed-out style to the CodeLab form and its elements */
      .codeLab-form {
        color: #888; /* Grayed-out text color */
        pointer-events: none; /* Disable click events */
      }
    </style>
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/webapp/templates/studentHome.html">Home</a></li>
        <li><a href="/webapp/templates/literacyLab.html">LiteracyLab</a></li>
        <li><a href="/webapp/templates/gameLab.html">GameLab</a></li>
        <li><a href="/webapp/templates/codeLab.html">CodeLab</a></li>
        <li>
          <a href="/webapp/templates/profile.html" aria-disabled="true"
            >My Profile</a
          >
        </li>
        <li><a href="/webapp/templates/index.html">Logout</a></li>
      </ul>
    </nav>
    <h1><strong>Welcome ....</strong></h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3 rounded-form">
            <img
              src="/webapp/static/images/literacy.png
              "
              alt="literacy-image"
              width="70"
              height="50"
            />
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="LiteracyLab"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3 rounded-form">
            <img
              src="/webapp/static/images/games.png"
              alt="game-image"
              width="70"
              height="70"
            />
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="GameLab"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3 rounded-form">
            <img
              src="/webapp/static/images/code.png"
              alt="coding-image"
              width="70"
              height="70"
            />
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput3"
              placeholder="CodeLab"
            />
          </div>
        </div>
      </div>
    </div>
    <img id="myImage" src="/webapp/static/images/bot.png" alt="My Image" />
  </body>
</html>
